/********NAVIGATION********/
nav .container {
  margin-top: 15px;
}

#logo img{
  height: 50px;
  width: 50px;
}

ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  width: 33%;
}

ul li a:hover, ul li a:focus, ul li a:active{
  text-decoration: none;
}

/********ABOUT ME*******/
#aboutme {
  padding-top: 80px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
}

#aboutme span {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}

/*********PORTFOLIO********/
#portfolio {
  padding-top: 80px;
  text-align: center;
}

#portfolio .col-sm-6 {
  margin-bottom: 25px;
}

/**********CONTACT ME*******/
#contactme {
  padding-top: 80px;
  margin-bottom: 20px;
}

#contactme h1 {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
}