/********NAVIGATION********/
nav .container {
  margin-top: 15px;
}

.navbar {
  background-color: #BECFC0;
}

img#logo{
  height: 50px;
  width: 60px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: color ease 1s;
}

ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  width: 32%;
}

ul li a {
  color: #102F14;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  transition: color ease 1s;
}

ul li a:hover, ul li a:focus, ul li a:active{
  text-decoration: none;
}

.fa {
  float: right;
  padding-left: 10px;
  transition: color ease 1s;
}

.fa:hover {
  color: #23527c;
}

.fa-twitter {
  color: #41ABE1;
}

.fa-codepen {
  color: #fff;
}

.fa-github {
  color: #000;
}

/********ABOUT ME*******/
#aboutme {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 75px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#aboutme:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url(images/aboutme.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#aboutme .col-sm-12 {
  margin-bottom: 50px;
}

#aboutme p {
  font-size: 25px;
  line-height: 2.5;
  font-family: 'Kalam', cursive;
  text-align: center;
}

#aboutme h2 {
  font-family: 'Kalam', cursive;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
}

#aboutme li {
  text-align: center;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  line-height: 2.5;
}


/*********PORTFOLIO********/
#portfolio {
  padding-top: 30px;
  text-align: center;
}

#portfolio .col-sm-6 {
  margin-bottom: 15px;
}

.imgWrap {
  display: inline-block;
  background-color: #fff;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.imgWrap img {
  opacity: 1;
  width: 550px;
  height: 400px;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -10;
}

.imgWrap:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

img:hover,
.imgWrap:hover img {
  opacity: 0.1;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-title {
  color: #fff;
  opacity: 0;
  transform: translate3d(0, 24px, 0) scaleY(0);
  transition: all 0.4s linear;
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
}

.imgWrap:hover .project-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scaleY(1);
  transform: translate3d(0, 0, 0) scaleY(1);
}

/**********CONTACT ME*******/
#contactme {
  padding-top: 20px;
  margin-bottom: 20px;
}

#contactme h1 {
  text-align: center;
  font-family: 'Kalam', cursive;
  text-decoration: underline;
}

form {
  width: 400px;
  margin: 15px auto 0;
}

.feedback-input {
  color: #000;
  font-family: 'Kalam', cursive;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #84BA8B;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border:2px solid #708A74;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Kalam', cursive;
  width: 100%;
  background: #84BA8B;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #708A74;
}